<div class="success-card">
  <div class="icon-circle">
    <span class="check">✓</span>
  </div>
  
  <h1>¡Turno Confirmado!</h1>
  <p class="main-msg">La reserva quedó confirmada. También te dejamos el detalle por mail.</p>

  <div class="details-box">
    <div class="detail-item">
      <span>Servicio:</span>
      <strong>{{ info().servicio?.nombre }}</strong>
    </div>
    <div class="detail-item">
      <span>Fecha:</span>
      <strong>{{ info().fecha }}</strong>
    </div>
    <div class="detail-item">
      <span>Hora:</span>
      <strong>{{ info().hora }}hs</strong>
    </div>
  </div>

  <button class="btn-new" (click)="reiniciar()">Solicitar otro turno</button>
</div>